@{
    Layout = null;
}

<ul>
    <li><strong>@Html.ActionLink("Navigation Menu", "menu", "controls")</strong>, 
        suitable for rendering navigations menus (like the one at the top of the page)</li>
    <li><strong>@Html.ActionLink("Site Map", "sitemap", "controls")</strong>, 
        a plain representation of the structure of your site</li>
    <li><strong>@Html.ActionLink("In This Section", "inthissection", "controls")</strong>,
         an overview of the user's current area (like the one of the left)</li>
    <li><strong>@Html.ActionLink("Breadcrumb control", "breadcrumbs", "controls")</strong>,
        showing the user the their current path in the site (like the one above)</li>
    <li><strong>@Html.ActionLink("Custom control", "custom", "controls")</strong>, giving you complete control of what is displayed</li>
</ul>
